@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #5baa7f;
    --secondary-color: #0b1215;
    --white-color: #fbf5df;
}
* {
    box-sizing: border-box;
    margin: 0;
    border: none;
    outline: none;
}
body {
    font-family: 'exo 2', sans-serif;
    background: var(--secondary-color);
    color: var(--white-color);
    container-type: inline-size;
}
main {
    font-size: 2.2cqi;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main > :not(:last-child) {
    margin: 0 0 2rem 0;
}
h1 {
    color: var(--primary-color);
}
p {
    text-align: center;
}

.btn {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 0.3125rem;
    /* font-size: 0.875rem; */
    font-size: inherit;
    padding: 0.313rem 0.875rem;
    margin: 2.5rem 0;
}
.money-img {
    width: 150px;
}
.container {
    margin: 0 auto;
}
.currency {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.currency select {
    width: 100%;
    /* font-size: 0.875rem; */
    font-size: inherit;
    color: var(--secondary-color);
    padding: 0.625rem 1.25rem 0.625rem 0.625rem;
    border-radius: 0.3125rem;
    appearance: none;
    background: var(--white-color)
        url(../Assets/icons/8665844_sort_down_icon.svg) no-repeat right 5% top;
    background-size: 1rem auto, 100%;
    text-overflow: ellipsis;
}
select > option:hover {
    background-color: #5baa7f;
}
.currency input {
    width: 100%;
    background: transparent;
    color: var(--white-color);
    /* font-size: 2rem; */
    font-size: 3cqi;
    text-align: right;
    -webkit-appearance: textfield;
}
.currency input[type='number']::-webkit-inner-spin-button,
.currency input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rate {
    color: var(--primary-color);
    font-size: 0.875rem;
    padding: 0 0.625rem;
}

@media (max-width: 37.5em) {
    main {
        font-size: 4cqi;
    }
    h1,
    p {
        width: 90%;
        text-align: center;
    }
    .btn,
    .currency select {
        font-size: 4cqi;
    }
    .currency input {
        font-size: 8cqi;
    }
    .container {
        width: 95%;
    }
}
@media (min-width: 62.5em) {
    main {
        font-size: 1cqi;
    }
    .btn,
    .currency select {
        font-size: 0.9cqi;
    }
    .currency input {
        font-size: 1.5cqi;
    }
    .container {
        width: 30%;
    }
}
